.cardBase {
  background: hsl(var(--background));
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  color: hsl(var(--foreground));
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.cardHeader {
  display: flex;
  flex-direction: column;
  padding: 1.125rem;
}
.cardHeader > * {
  margin-block: 0.375rem;
}

.cardTitle {
  font-size: var(--text-xl);
  font-weight: var(--semiBold);
  line-height: 1rem;
}

.cardDescription {
  color: hsl(var(--muted-foreground));
  font-size: var(--text-sm);
}

.cardContent {
  padding: 0 1rem 1rem;
}

.cardFooter {
  align-items: center;
  display: flex;
  padding: 0 1rem 1rem;
}
