.error {
  color: hsl(var(--destructive));
}

.description {
  color: hsl(var(--muted-foreground));
  font-size: var(--text-sm);
  font-weight: var(--semiBold);
}

.message {
  color: hsl(var(--destructive));
  font-size: var(--text-sm);
  font-weight: var(--semiBold);
}

.formItem {
  margin-block: 0.4rem;
}
