.avatarBase {
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  height: 2.5rem;
  position: relative;
  overflow: hidden;
  width: 2.5rem;
}

.avatarImage {
  aspect-ratio: 1/1;
  height: 100%;
  width: 100%;
}

.avatarFallback {
  align-items: center;
  border-radius: 50%;
  background: hsl(var(--muted));
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
